/*Colores  Root*/
:root {
    --BoxColor: rgba(255, 255, 255, 0.2);
    --grayText: #1A181B
}

/*Universal Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy-Regular', sans-serif;
}

/* Estilos Generales */

@font-face {
    font-family: Satisfy-Regular;
    src: url("assets/Satisfy-Regular.ttf");
}

body {
    height: 100vh;
    background-color: #2b807B;
    text-align: center;
}

.centrarFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedor*/

#contenedor{
    height: 220px;
    width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("assets/colorful-popsicles.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* From https://css.glass */
    background-color: var(--BoxColor);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
}

/*Estilo de el texto*/

#colorCode{
    letter-spacing: 0.9em;
    font-weight: bolder;
    font-size: 2.5em;
    padding: 5px 40px 60px 20px;
    color: var(--grayText);
}

/*Estilo del boton*/

#btnColor {
    border: none;
    width: 8.5em;
    height: 2.5em;
    box-shadow: 2px 5px 20px -7px #000;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    border-radius:15px;
    cursor:pointer;
    color: var(--grayText);
    text-decoration:none;
    text-shadow:0 1px 0 #e1e2ed;
    margin: 20px 20px 0 20px;
    font-size: 1em;
    font-weight: bold;
    user-select: none;
}

#btnColor:hover {
    background: #bab1ba linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
}
#btnColor:active {
    position:relative;
    top:1px;
}
