/*Colores  Root*/
:root {
    --color: #HEX
}

/*Universal Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy-Regular', sans-serif;
}

/* General Styles */

@font-face {
    font-family: Satisfy-Regular;
    src: url("assets/Satisfy-Regular.ttf");
}

body {

}