/* Colores Root */
:root {
    --color: #HEX;  // Definir un color personalizado usando una variable
}

/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */

/* Fuentes personalizadas */
@font-face {
    font-family: PixelifySans;
    src: url("/colores_RGB/assets/PixelifySans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Pangolin;
    src: url("/colores_RGB/assets/Pangolin-Regular.ttf");
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(23, 41, 56);  // Fondo principal del cuerpo
}

/* Contenedor Principal */
.contenedorPrincipal {
    width: 50vw;
    max-width: 200px;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* Degradado de fondo */
    background-color: rgb(142, 197, 252, 0.2);
    background-image: linear-gradient(45deg, rgba(142, 197, 252, 0.5) 10%, rgba(224, 195, 252, 0.8) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* Estilo para cada elemento de color en el contenedor principal */
.color {
    padding: 20px;
    margin: 10px;
    font-size: 1.6em;
    font-weight: bold;
    font-family: PixelifySans, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Estilo para el texto dentro de cada elemento de color */
.color > p {
    font-family: Pangolin, sans-serif;
    font-weight: lighter;
    text-shadow: 2px 2px 3px #7A7A7A;
}

/* Estilo para las etiquetas y los párrafos */
label, p {
    margin: 5px;
}

/* Estilo específico para el color verde */
#verde {
    color: greenyellow;
}
