/*Colores  Root*/
:root {
    --color: #HEX
}

/*Universal Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* General Styles */

body {

}