/* Colores Root */
:root {
    /* Color de fondo del contenedor */
    --BoxColor: rgba(255, 255, 255, 0.2);
    /* Color del texto gris */
    --grayText: #1A181B;
}

/* Reset Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Fuente predeterminada para todo el documento */
    font-family: 'Satisfy-Regular', sans-serif;
}

/* Estilos Generales */
@font-face {
    /* Carga de la fuente personalizada */
    font-family: Satisfy-Regular;
    src: url("assets/Satisfy-Regular.ttf");
}

body {
    height: 100vh;
    /* Color de fondo para el cuerpo */
    background-color: #2b807B;
    text-align: center;
}

/* Clase para centrar elementos con flexbox */
.centrarFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor Principal */
#contenedor {
    height: 220px;
    width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    /* Imagen de fondo del contenedor */
    background-image: url("assets/colorful-popsicles.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* Color de fondo con transparencia */
    background-color: var(--BoxColor);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Efecto de desenfoque en el fondo */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
}

/* Estilo del Texto */
#colorCode {
    letter-spacing: 0.9em;
    font-weight: bolder;
    font-size: 2.5em;
    /* Espaciado interno del texto */
    padding: 5px 40px 60px 20px;
    color: var(--grayText);
}

/* Estilo del Botón */
#btnColor {
    border: none;
    width: 8.5em;
    height: 2.5em;
    /* Sombra y degradado para el botón */
    box-shadow: 2px 5px 20px -7px #000;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    border-radius: 15px;
    cursor: pointer;
    color: var(--grayText);
    text-decoration: none;
    text-shadow: 0 1px 0 #e1e2ed;
    margin: 20px 20px 0 20px;
    font-size: 1em;
    font-weight: normal;
    user-select: none;
}

/* Estilo del Botón al pasar el ratón */
#btnColor:hover {
    background: #bab1ba linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
}

/* Estilo del Botón al hacer clic */
#btnColor:active {
    position: relative;
    top: 1px;
}
