/* Colores Root para ser usados como variables en lugar del HEX del color */
:root {
    --BoxColor: rgba(255, 255, 255, 0.2);  /* Color de fondo del contenedor */
    --grayText: #1A181B;  /* Color de texto gris */
}

/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy-Regular', sans-serif;  /* Fuente principal del documento */
}

/* Estilos Generales */
@font-face {
    font-family: Satisfy-Regular;
    src: url("assets/Satisfy-Regular.ttf");  /* Cargar la fuente personalizada */
}

body {
    height: 100vh;
    background-color: #2b807B;  /* Color de fondo del cuerpo */
    text-align: center;
}

.centrarFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor Principal */
#contenedor {
    height: 220px;
    width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("assets/colorful-popsicles.png");  /* Imagen de fondo */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--BoxColor);  /* Utiliza la variable de color de fondo */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    backdrop-filter: blur(5px);  /* Efecto de desenfoque en el fondo */
    -webkit-backdrop-filter: blur(5px);
    border: none;
}

/* Estilo del Título */
h1 {
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;  /* Márgenes superior e inferior de 20px, márgenes izquierdo y derecho de 10px */
}

/* Estilo para cada elemento de la lista de Toppings */
.topping {
    font-size: 2rem;
    font-weight: bold;
    color: var(--raisin-black);  /* Utiliza la variable de color de texto */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border: none;
}

/* Estilo para los elementos de la lista de Toppings */
ul {
    width: 95%;
    height: 100%;
}

/* Estilo para Toppings pares */
.fondoUno {
    background-color: var(--persian-orange);  /* Utiliza la variable de color */
    border-radius: 10px;
    padding: 15px;
    -webkit-transition: ease-out 0.4s;  /* Transición suave */
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* Cambia cuando se pasa el puntero sobre Toppings pares */
.fondoUno:hover {
    background-color: darkred;
    color: lightgray;
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 darkred;  /* Efecto de sombra al pasar el puntero */
}

/* Estilo para Toppings impares */
.fondoDos {
    background-color: var(--sage);
    border-radius: 10px;
    padding: 15px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* Cambia cuando se pasa el puntero sobre Toppings impares */
.fondoDos:hover {
    background-color: darkred;
    color: lightgray;
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 darkred;
}

#enlace {
    padding-bottom: 15px;
    text-decoration: none;
}

/* Nuevo Sabor */
.nuevoSabor {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 15px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* Cambia cuando se pasa el puntero sobre Nuevo Sabor */
.nuevoSabor:hover {
    background-color: greenyellow;
    color: darkslategray;
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 greenyellow;
}
