/*Colores  Root*/
:root {
    --color: #HEX
}

/*Universal Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* General Styles */

body {
    height: 100vh;
    background: url("assets/background-blurred.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}