/*Colores  Root*/
:root {
    --color: #HEX
}

/*Universal Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */

@font-face {
    font-family: Handlee;
    src: url("assets/Handlee-Regular.ttf");
}
@font-face {
    font-family: Courgette ;
    src: url("assets/Courgette-Regular.ttf");
}

body {
    height: 100vh;
    background: url("assets/background-blurred.png") no-repeat center center/ cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 40px 0;
}

/*Contenedor */

.contenedorExterno {
    width: 500px;
}
.contenedorInput {
    width: 100%;
    padding: 5px;
    background: url("assets/noise.png") no-repeat center center/ cover;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 2px 3px 65px 1px rgba(97,12,73,0.57);
    -webkit-box-shadow: 2px 3px 65px 1px rgba(97,12,73,0.57);
    -moz-box-shadow: 2px 3px 65px 1px rgba(97,12,73,0.57);
}

#titulo {
    font-family: Courgette, sans-serif;
    font-size: 2.5em;
    text-shadow: 2px 3px 10px rgba(57,9,60,0.56);
    margin-bottom: 20px;
}

input {
    background: #d6ffdf;
    width: 75%;
    height: 35px;
    font-size: 1.2em;
    margin: 4px 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #171e23;
    box-shadow: inset 14px 15px 41px -16px rgba(0,0,0,0.54);
    font-family: Handlee, sans-serif;
}

button {
    width: 20%;
    height: 35px;
    border-radius: 10px;
    margin: 4px 5px;
    font-size: 1em;
    font-weight: normal;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: #de7bab;
    transition: ease-in-out 0.3s;

}

button:hover {
    background-color: #af4978;
}

/*Lista de Tareas*/

#listaTareas {
    width: 100%;
    margin-top: 3px;
    border-radius: 10px;
    font-family: Handlee, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/*Tareas*/

.tarea {
    width: 98%;
    min-height: 30px;
    font-size: 23px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 2px;
    justify-content: space-between;
    font-family: Handlee, sans-serif;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

/*Tareas completada*/

.tareaCompletada {
    text-decoration: line-through;
    background-color: rgba(236, 177, 232, 0.47);
    border: none;
}

/*Texto de cada tarea*/

.tarea p {
    max-width: 350px;
    overflow: hidden;
}

/*Iconos */

i {
    margin: 6px;
    cursor: pointer;
    font-size: 0.9em;
}

.iconoCompletar {
    color: #171e23;
    transition: ease-in-out 0.3s;
}

.iconoEliminar {
    color: #171e23;
    transition: ease-in-out 0.3s;
}

.iconoCompletar:hover {
    color: #2a8335;
}

.iconoEliminar:hover {
    color: #800c28;
}