/* Colores Root */
:root {
    --verdeClaro: #8BDB70;  /* Define un color verde claro como variable */
    --amarilloClaro: #DBCD70;  /* Define un color amarillo claro como variable */
    --rosadoClaro: #FF69B4;  /* Define un color rosado claro como variable */
    --rosadoOscuro: #850D4C;  /* Define un color rosado oscuro como variable */
}

/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definición de la fuente personalizada */
@font-face {
    font-family: PixelifySans-VariableFont_wght;
    src: url("assets/PixelifySans-VariableFont_wght.ttf");  /* Cargar la fuente personalizada */
}

/* Estilos Generales */
body {
    background: url("assets/blurredBackground.png") no-repeat center center/ cover;  /* Imagen de fondo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenedor Principal */
.contenedorPrincipal {
    width: 80vw;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.03);  /* Color de fondo del contenedor principal */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    backdrop-filter: blur(5px);  /* Efecto de desenfoque en el fondo */
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.02);
}

/* Contenedor de Botones */
.contenedorBtns {
    padding: 20px;
}

/* Cronómetro */
#cronometro {
    width: 100%;
    margin-top: 70px;
    font-size: 50px;
    font-weight: bold;
    user-select: none;
    font-family: PixelifySans-VariableFont_wght, sans-serif;
    background: rgba(255, 255, 255, 0.5);  /* Color de fondo del cronómetro */
    border-radius: 16px;
    backdrop-filter: blur(5px);  /* Efecto de desenfoque en el fondo */
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #171e23;
    -webkit-backdrop-filter: blur(5px);
    -webkit-box-shadow: inset 10px 10px 21px -8px rgba(0,0,0,0.75);  /* Sombra interna */
    -moz-box-shadow: inset 10px 10px 21px -8px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 21px -8px rgba(0,0,0,0.75);
}

/* Contenedor Interno */
.contenedorInput {
    width: 70vw;
    max-width: 350px;
    min-height: 350px;
    background: rgba(255, 255, 255, 0.03);  /* Color de fondo del contenedor interno */
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    backdrop-filter: blur(5px);  /* Efecto de desenfoque en el fondo */
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Estilo de los Botones */
.btn {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

/* Estilo del botón de iniciar/pausar en estado 'play' */
#btnInicioPausa.btnPlay,
#btnInicioPausa.btnPlay i {
    background-color: var(--verdeClaro);
    border: none;
    border-radius: 5px;
}

#btnInicioPausa.btnPlay:hover,
#btnInicioPausa.btnPlay:hover {
    box-shadow: 2px 9px 25px -4px rgba(0,0,0,0.5);  /* Sombra al pasar el puntero */
}

/* Estilo del botón de iniciar/pausar en estado 'stop' */
#btnInicioPausa.btnStop,
#btnInicioPausa.btnStop i {
    background-color: var(--amarilloClaro);
    border: none;
    border-radius: 5px;
    color: var(--rosadoOscuro);
}

#btnInicioPausa.btnStop:hover,
#btnInicioPausa.btnStop:hover {
    box-shadow: 2px 9px 25px -4px rgba(0,0,0,0.5);  /* Sombra al pasar el puntero */
}

/* Estilo del botón de reiniciar */
#btnReiniciar {
    background-color: var(--rosadoClaro);
    border: none;
    border-radius: 5px;
}

#btnReiniciar:hover {
    box-shadow: 2px 9px 25px -4px rgba(0,0,0,0.5);  /* Sombra al pasar el puntero */
}
