/* Colores Root para ser usados como variables en lugar del HEX del color */
:root {
    --silver: #c8c8c8ff;
    --silver-2: #b3b3b3ff;
    --sage: #bbb891ff;
    --persian-orange: #dc965aff;
    --raisin-black: #242325ff;
}

/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Estilos Generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("assets/pizzaItaliana.jpg") no-repeat center center/cover;
}

/* Estilo para el contenedor rectangular principal */
#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vh;
    max-width: 600px;
    /* From https://css.glass */
    background: rgba(244, 242, 231, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(244, 242, 231, 0.15);
}

/* Estilo para el titulo, también se podría usar el id titulo */
h1 {
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;
}

/* Estilo para cada elemento de la lista de Toppings */
.topping {
    font-size: 2rem;
    font-weight: bold;
    color: var(--raisin-black); /* Caso de uso de colores Root */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border: none;
}

/* Estilo para los elementos de la lista de Toppings, también se podría usar el id toppingsList */
ul {
    width: 95%;
    height: 100%;
}

/* Fondo para Toppings pares */
.fondoUno {
    background-color: var(--persian-orange); /* Caso de uso de colores Root */
    border-radius: 10px;
    padding: 15px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* Cambia para cuando paso por encima el puntero */
.fondoUno:hover {
    background-color: darkred;
    color: lightgray;
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 darkred;
}

/* Fondo para Toppings impares */
.fondoDos {
    background-color: var(--sage); /* Caso de uso de colores Root */
    border-radius: 10px;
    padding: 15px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* Cambia para cuando paso por encima el puntero */
.fondoDos:hover {
    background-color: darkred;
    color: lightgray;
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 darkred;
}

#enlace {
    padding-bottom: 15px;
    text-decoration: none;
}

/* Nuevo sabor */
.nuevoSabor {
    background-color: aquamarine; /* Caso de uso de colores Root */
    border-radius: 10px;
    padding: 15px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* Cambia para cuando paso por encima el puntero */
.nuevoSabor:hover {
    background-color: greenyellow;
    color: darkslategray;
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 greenyellow;
}
