/*Colores  Root*/
:root {
    --color: #HEX
}

/*Universal Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* General Styles */

@font-face {
    font-family: Courgette;
    src: url("assets/Courgette-Regular.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("assets/fondo.png") no-repeat center center/ cover;
}

.contenidoCentrado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Contenedor */

.contenedor {
    width: 30vw;
    height: 20vw;
    max-width: 600px;
    min-height: 500px;
    padding: 5px;
    margin-left: 300px;
    border-radius: 50px;
    background: linear-gradient(145deg, #b2b2b2, #d4d4d4);
    box-shadow:  20px 20px 60px #a8a8a8,
    -20px -20px 60px #e4e4e4;
}

.contenedorInterno {
    width: 90%;
}

/*Contenido*/

#titulo {
    width: 100%;
    font-family: Courgette, cursive;
    font-weight: bolder;
    text-align: center;
}

#cita {
    font-size: 25px;
    width: 80%;
    height: 80% ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#autor {
    width: 100%;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Courgette, cursive;
}

#btnCambiarCita {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: lighter;
}